@mixin fonts
  font-display: swap
  font-family: $font
  font-style: normal

@font-face
  src: url('.././fonts/latolight.woff') format('woff'), url('.././fonts/latolight.woff2') format('woff2')
  font-weight: 300
  @include fonts

@font-face
  src: url('.././fonts/latoregular.woff') format('woff'), url('.././fonts/latoregular.woff2') format('woff2')
  font-weight: 500
  @include fonts

@font-face
  src: url('.././fonts/latobold.woff') format('woff'), url('.././fonts/latobold.woff2') format('woff2')
  font-weight: 700
  @include fonts
